<% provide(:title, "Home") %>
<h1>Sample Application</h1>
<p>This is the hompage for Conor's sample RoR application, built following Michael Hartl's <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails</a> tutorial.</p>
