<div class="center jumbotron">
  <h1>Welcome to the RoR Sample Application!</h1>
  <h2>This is the homepage for Conor's sample RoR application, built following Michael Hartl's <a href="http://www.railstutorial.org/" target="_blank">Ruby on Rails</a> tutorial.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%#= image_tag "kitten.jpg", alt: "A cute kitten"  %>

